/* Style global */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f7fc;
    color: #333;
    margin: 0;
    padding: 0;
}


.container {
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

h1{
    text-align: center;
    color: #0a2d61;
    margin-bottom: 20px;
}

h2 {
    color: #2a0868;
    margin-top: 40px;
    margin-bottom: 15px;
    text-align: center;
}

/* Formulaire */
form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input, textarea {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
}

textarea {
    height: 100px;
}


button {
    padding: 10px 20px;
    background-color: #146acc;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}


/* Tableau des tâches */
table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
    font-weight: bold;
}

tr:hover {
    background-color: #f1f1f1;
}

a {
    color: #007BFF;
    text-decoration: none;
    margin-right: 10px;
}

a:hover {
    text-decoration: underline;
}

/* Notifications */
.notifications {
    margin-top: 30px;
    padding: 15px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.notifications p {
    font-size: 16px;
    margin-bottom: 10px;
    color: #333;
}

.notifications h3 {
    color: #9799a8;
    margin-bottom: 15px;
}

/* Responsivité */
@media (max-width: 768px) {
    .container {
        width: 90%;
    }

    input, textarea, button {
        font-size: 14px;
    }

    table {
        font-size: 14px;
    }

    th, td {
        padding: 10px;
    }
}




